<html>

  <head>
    <link rel="stylesheet" type="text/css" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css">
    <link rel="stylesheet" href="main.css">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <!-- and our js too below -->
    <script type="text/javascript" src="first.js"></script>
  </head>

  <body>
    <div class="navbar navbar-default">
      <div class="pull-left" id="navStuff">
        <p class="navbar-brand">In Big Text</p>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h1><%= displayText %></h1>
      </div>
    </div>
    <div class="container well">
      <img src="<%= image %>"/>
    </div>



  </body>

</html>
